$background-color: #121212;
$text-color: #FFFFFF;
$neon-purple: #095f68;

.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

  .category {
    margin: 10px;
    background-color: darken($background-color, 5%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    h2 {
      color: #0c7782;
      margin-bottom: 15px;
    }

    .question-button {
        margin: 10px;
      width: 100px;
      height: 50px;
      background-color: $neon-purple;
      color: $text-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 5px;

      &:hover {
        background-color: lighten($neon-purple, 10%);
      }
      &:focus {
        outline: none;
      }
      &:disabled {
        background-color: #2e103c;
        cursor: default;
      }
    }
  }
}
